.heading{
    font-size: large;
    font-family: 'Bungee Spice', cursive;
}
.heading_1{

    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}
#copyright_footer{
    position: fixed;
    bottom: 20;
    width: 100%;
    text-align: center;
    font-size: large;
    background-color: orangered;
    color: lightyellow;
}